<!DOCTYPE html>
<html>

  {% include head.html %}

  {% if page.alternate_banner %}
  <body class="with-banner alternate">
  {% else %}
  <body class="with-banner">
  {% endif %}

    {% include header.html %}

    <div class="post-banner" style="background-image: url('{{ page.banner | prepend: site.baseurl }}');" ></div>

    <div class="banner-attribution">
        <a href="{{ page.banner_source }}">{{ page.banner_attribution }}</a>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}

        {% include disqus.html %}
      </div>
    </div>

    {% include footer.html %}

  </body>

  {% include google-analytics.html %}

</html>
